body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  padding: 16px;
}

#hydra {
  border: 1px solid black;
  /* border-radius: 2px; */
}

.description {
  max-width: 900px;
  margin-top: 1em;
}

.rules {
  max-width: 900px;
  white-space: pre-line;
}
